body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
    height:4.2em;
    display: flex;
  }
  .topnav .logo {
    width:10em;
    height:5em;
    display: flex;
    padding-top:1.2em;
    padding-left:.8em;
    margin-top:-.5em;
    margin-right:8em;
}

.topnav .logo img{
    width:3em;
    height:3em;
}
.topnav .logo p{
    font-size:18px;
    font-weight: bold;
    padding-top:.5em;
    padding-left:1em;
    
}
.topnav a{
  text-decoration: none;
  color:black;
}
.topnav .option{
    height:100%;
    width:12em;
    display: flex;
    justify-content: center;
    padding-top:.8em;
    font-size: 20px;
}
.topnav .option:hover{
    border-bottom: solid 3px rgba(0,169,192,0.6);
    cursor: pointer;
    font-weight: bold;
    color:rgba(0,169,192,0.6);
}
.topnav .option.active{
    font-weight: bold;
    color:rgba(0,169,192,0.6);
    border-bottom: solid 3px rgba(0,169,192,1);
}
.icon{
    margin-left:17em;
    margin-top:1em;
    font-size: 20px;
    display: flex;
}
.user{
    font-size: 38px;
    margin-top:-0.1em;
}
.icon a{
    margin: 0em 0em;
    width:2em;
    color: black;
}
.icon a:hover{
    color: rgba(0,169,192,0.6);
}   

.title{
    width:100%;
    height:5em;
    display:flex;
}
.title .create{
    margin-left:48em;
}
.title h5{
    font-size: 30px;
    font-weight: bold;
    margin-top:.5em;
    margin-left:12em;
}
.info-holder button{
    width:10em;
    height:2.5em;
    border-radius: 10px;
    font-weight: bold;
    color:white;
    background-color: rgba(0,169,192,0.3);
    border: none;
    margin-top:1em;
}
.info-holder button:hover{
    background-color: rgba(0,169,192,1);
}
.info-holder .create{
    background-color:rgba(0,169,192,1);
    margin-top:2em;
}
.info-holder .cancel{
    border:solid 2px rgba(0,169,192,1); 
    color:black;
}
.info-holder{
    height:auto;
    width:55em;
    background-color: rgba(0,169,192,0.1);
    border-radius: 15px;
    margin-bottom:1em;
    padding:2.5em;
    margin-left:20em;

  }
  .info-holder h5{
    font-weight: bold;
    margin-bottom:1.5em;
  }
  .info-holder .ans{
    background-color: rgba(0,169,192,0.3);
    width:50em;
    height:2.5em;
    margin-top:-.5em;
    margin-left:0em;
    padding-left:1em;
    padding-top:.5em;
    border-radius: 5px;
  }
  .info-holder .ans1{
    background-color: rgba(0,169,192,0.3);
    width:23em;
    height:2.5em;
    margin-top:-.5em;
    padding-left:1em;
    padding-top:.5em;
    border-radius: 5px;
  }
  .info-holder .ans2{
    background-color: rgba(0,169,192,0.3);
    width:23em;
    height:2.5em;
    margin-top:-.5em;
    padding-left:1em;
    padding-top:.5em;
    border-radius: 5px;
  }
  .info-holder .message{
    margin-top:3em;
    color:red;
  }


.bed{
    margin-top:1em;
}
#bed .ans1, #bed .ans2{
    width:11.5em;
}
#bed td{
    padding-bottom:1em;
}
.bed button{
    height:2.5em;
    border-radius: 10px;
    background-color: rgba(0,169,192,0.6);
    margin-top:1em;

}

.supply{
    margin-top:1em;
    margin-left:4em;
}
#supply .ans1, #supply .ans2{
    width:11.25em;
}
#supply td{
    padding-bottom:1em;
}
.supply button{
    height:2.5em;
    border-radius: 10px;
    background-color: rgba(0,169,192,0.6);
    margin-top:1em;
}

/* Alert */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }