body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
    height:4.2em;
    display: flex;
  }
  .topnav .logo {
    width:10em;
    height:5em;
    display: flex;
    padding-top:1.2em;
    padding-left:.8em;
    margin-top:-.5em;
    margin-right:8em;
}

.topnav .logo img{
    width:3em;
    height:3em;
}
.topnav .logo p{
    font-size:18px;
    font-weight: bold;
    padding-top:.5em;
    padding-left:1em;
    
}
.topnav a{
  text-decoration: none;
  color:black;
}
.topnav .option{
    height:100%;
    width:12em;
    display: flex;
    justify-content: center;
    padding-top:.8em;
    font-size: 20px;
}
.topnav .option:hover{
    border-bottom: solid 3px rgba(0,169,192,1);
    cursor: pointer;
    font-weight: bold;
    color:rgba(0,169,192,1);
}
.topnav .option.active{
    font-weight: bold;
    color:rgba(0,169,192,1);
    border-bottom: solid 3px rgba(0,169,192,1);
}
.icon{
    margin-left:14em;
    margin-top:1em;
    font-size: 20px;
    display: flex;
}
.user{
    font-size: 38px;
    margin-top:-0.1em;
}
.icon a{
    margin: 0em 0em;
    width:2em;
    color: black;
}
.icon a:hover{
    color: rgba(0,169,192,1);
}
.user-dropdown{
  margin-left:11em;
  margin-top:-3.4em;
  width:auto;
}
.user-dropdown button{
  width:auto;
  border:none;
}
.user-dropdown button a{
  color: black;
}
.user-dropdown button a:hover{
  color: rgba(0,169,192,1);
}
.user-dropdown .dropdown-menu{
  margin-left:-5em;
  z-index: 99;
}
.user-dropdown .dropdown-menu a{
  width:auto;
}
.user-dropdown .dropdown-menu a:hover{
  background-color: rgba(0,169,192,0.6);
}


/*board*/
.board{
    width:100%;
    height: 100%;
}
.board h4{
    padding-top:2em;
    padding-left:6em;
}
.dropdown{
  padding-top:2.5em;
  padding-left:7em;
  width:5em;
}
.dropdown button{
  border:solid 2px rgba(0,169,192,1);
  width:10em;
  border-radius: 5px;
  font-weight: bold;
}
.dropdown button:hover{
  border:solid 2px rgba(0,169,192,0.6);
}
.dropdown a:hover{
  background-color: rgba(0,169,192,0.6);
}
.board-main{
    display: flex;
    background-color: rgba(0,169,192,0.1);;
    width:90%;
    margin-left:5em;
    border-radius: 15px;
    padding-bottom:1em;
}
.month{
  display: flex;
  margin-left:33.5em;
  margin-top:-2em;
}
.month p{
  width:4.65em;
}
#total{
    width:20%;
    text-align: center;
    padding-top:1em;
    margin-right:8em;
    padding-left:3.5em;
}
#total .total-item{
  margin:.5em 0em;
  height:15em;
  width:20em;
  background-color: white;
  border-radius: 5px;
  padding-top:2.5em;
}
#total .total-item:hover{
  background-color: rgba(0,169,192,0.6);
  cursor: pointer;
  color:white;
}
#total .total-item p{
  font-size: 20px;
  margin-left:-8em;
  margin-top:-1em;
}
#total .total-item h4{
  font-size: 120px;
  margin-left:-6em;
  margin-top:-2em;
}
#total .total-item h5{
  margin-left:.2em;
  margin-top:3em;
  font-weight: bold;
}

/**/
.vbar, .vbar * {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }

  /* (B3) VERTICAL */
  .vbar {
    display: flex;
    width: 65%;
    margin: 20px 0px;
    margin-left:2em;
    align-items: flex-end;
    height: 500px;
    background:#fff;
  }
   
  /* (C) EACH INDIVIDUAL BAR */
  /* (C1) SHARED */
  .vbar div {
    background-color: rgba(0,169,192,0.6);
    padding: 0px;
    width:4em;
    font-weight: bold;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
  }
  .vbar div p{
    display:none;
    margin-top:-2em;
  }
  .vbar div:hover {
    background-color: rgba(0,169,192,1);
  }
  .vbar div:hover p{
    display:block;
  }
   

  
.customerList{
    width:100%;
    height: 100%;
    margin-top:5em;
    margin-bottom: 18em;
}
.customerList h4{
    padding-top:2em;
    padding-left:6em;
    margin-bottom:.5em;
}
/* Style the search field */
.search{
  margin-left:35em;
}


.searching{
  margin-left:35em;
}
.searching button{
  background-color: rgba(0,169,192,0.6);
  border:solid 1px rgba(0,169,192,0.6);

}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 90%;
    height:30em;
    table-layout: fixed;
    margin-left:5em;
    margin-top:1em;
    background-color: white;
    border-radius: 15px;

  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    border-bottom: .5px solid rgba(0,169,192,1);
    margin:1em 0em;
    padding: .35em;
    height:5em !important;
  }
  table tr:hover {
    border-bottom: 1px solid rgba(0,169,192,0.2);
    background-color: rgba(0,169,192,0.2);
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
    height:5em;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  #buttons{
    margin-left:70em;
    margin-top:2em;
  }
  input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    border-color: rgba(0,169,192,0.6);

  }
  
  input[type="button"]:not(.active) {
    background-color:transparent;
  }
  input[type="button"]:hover:not(.active) {
    background-color: rgba(0,169,192,0.6);
  }
  
/*popup*/


.popup {
    position: relative;
    cursor: pointer;
  }
  .popup h5{
    margin-left:-21em;
    font-weight: bold;
  }
  
  /* The actual popup (appears on top) */
   .popuptext {
    visibility: hidden;
    width: 40em;
    height:38em;
    margin-left:-51em;
    margin-top:-35em;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);

  }
  

  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top:-7em;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  .info-holder{
    width:90%;
    background-color: rgb(242, 246, 253);
    margin-left:2em;
    border-radius: 15px;
    margin-bottom:1em;
    padding-top:.5em;
  }
  .info-holder .ans{
    background-color: rgb(208, 225, 255);    
    width:15em;
    height:2.5em;
    margin-top:-.5em;
    margin-left:26em;
    padding-top:.5em;
    border-radius: 5px;
  }
  .info-holder .ans1{
    background-color: rgb(208, 225, 255);
    width:15em;
    height:2.5em;
    margin-top:-.5em;
    padding-top:.5em;
    border-radius: 5px;
  }
  .info-holder .ans2{
    background-color: rgb(208, 225, 255);
    width:15em;
    height:2.5em;
    margin-top:-.5em;
    padding-top:.5em;
    border-radius: 5px;
  }





  /*popup*/


.popup {
  position: relative;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 30em;
  height:35em;
  margin-left:-50em;
  margin-top:-25em;
  background-color: rgb(230, 230, 230);
  color: #444444;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);

}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.service-info{
  display: flex;
  padding-top:.5em;
  margin-left:28em;
}
.service-info p{
  margin-left:7em;
}

.check{
  display: flex;
  justify-content: center;
  padding-top:1em;
  padding-left:0em;
  background-color: rgba(0,169,192,0.2);
  margin:.5em .5em;
}



