.container1{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.holder1{
    position: fixed;
    height:50em;
    width:60em;
    background-color: aliceblue;
    margin-top:0em;
    z-index: 100;
    display: flex;
    justify-content: center;
}
/*Decoration*/
.decor0{
    position: fixed;
    background-color: grey;
    z-index: 1;
    height:28em;
    width:28em;
    margin-top:18em;
    margin-left:-51em;
    border-radius: 50%;
}
.decor1{
    position: fixed;
    background-color: grey;
    z-index: 1;
    height:12em;
    width:12em;
    margin-top:5em;
    margin-left:41em;
    border-radius: 50%;
}
.decor2{
    position: fixed;
    background-color: grey;
    z-index: 1;
    height:20em;
    width:10em;
    margin-top:25em;
    margin-left:26em;
}

.login{
    width:50%;
    height:100%;
    background-color: transparent;
    justify-content: center;
    text-align: center;
}
.register-box {
    width: 27em;
    height:45em;
    padding: 40px;
    margin-left:16em;
    margin-top:23em;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .register-box h1 {
    font-size: 30px;
    margin-top:-1em;
    margin-bottom:1em;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .register-box .user-box {
    position: relative;
  }
  .register-box .user-box label{
    margin-top:-1em;
  }
  
  .register-box .user-box input {
    width: 100%;
    padding: .5em 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    background: transparent;
  }
  .register-box .user-box select {
    width: 100%;
    padding: .5em 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    background: transparent;
  }
  .register-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 1em 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  .register-box .user-box label option {
    font-size: 16px;
    color: black;
    
  }

  
  .register-box form .btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: -.6em;
    letter-spacing: 4px
  }
  
  .register-box .btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .register-box a span {
    position: absolute;
    display: block;
  }
  
  .register-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .register-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .register-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .register-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

.image{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.image .holder{
    width: 22em;
    height:26em;
    padding: 40px;
    margin-top:4em;
    background: transparent;
    box-sizing: border-box;
    /*box-shadow: 0 15px 25px rgba(0,0,0,.6);*/
    border-radius: 10px;
}
.image p{
  margin-top:35em;
  color:rgba(0,0,0,.5);
}
.image p a{
  color:#03e9f4;
  cursor:pointer;
}
